.conte {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.boxx {
  max-width: 381px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

.input {
  max-width: 381px;
  width: 100%;
  height: 45px;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid var(--Light-Grey, #dfdee0);
}

.list_text {
  color: var(--Deep-Violet, #21092f);
  font-family: "Space Grotesk";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.headind_listreg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 220px;
  width: 100%;
}

.mm_yy {
  border-radius: 8px;
  border: 1px solid var(--Light-Grey, #dfdee0);
  background: var(--White, #fff);
  width: 80px;
  height: 45px;
}

.year {
  width: 191px;
  height: 45px;
  border-radius: 8px;
  border: 1px solid var(--Light-Grey, #dfdee0);
  background: var(--White, #fff);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="number"] {
  -moz-appearance: textfield; 
  appearance: textfield; 
}

.error-border {
  border: 2px solid red;
}

.registratdata {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 381px;
  width: 100%;
  gap: 15px;
}

.headind_listreg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 220px;
  width: 100%;
}

.boxx {
  max-width: 381px;
  width: 100%;
  height: 352px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1285px) {
  .conte {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2%;
  }

  .boxx {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
  }
}


@media (max-width: 756px) {
  .boxx{
    max-width: 
    327px;
    width: 100%;
    
  }
 
  .input{
    max-width: 
    327px;
    width: 100%;
  }
  .mm_yy{
    max-width: 
    152px;
    width: 100%;
  }

  .year{
    max-width: 
    164px;
    width: 100%;
  }
   .registratdata{
    gap: 5px;
   }
 }